.p-h-logo{
  width: 360px;
  height: 253px;
}

.p-h-codigo{
  font-size: 26px;
  font-weight: bold;
  color: $red-light;
}
.p-h-numero{
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  background-color: rgba(255, 181, 166, 0.2);
}
