.p-h-logo{

  width: 150px;
  height: 105px;
  margin-top: -90px;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    width: 360px;
    height: 253px;
    margin-top: 0;
    margin-bottom: 60px;

  }



}

.p-h-cabecera{
  position: absolute;
  right: 0;
  z-index: -1;
  overflow: hidden;
  img{
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 950px;
    }
  }
}


.p-h-carousel{
  max-height: 600px;
}
.p-h-codigo{
  font-size: 26px;
  font-weight: bold;
  color: $red-light;
}
.p-h-numero{
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  background-color: rgba(255, 181, 166, 0.2);
}


.p-h-hotel{
  @include media-breakpoint-down(md) {
    flex-shrink: 0;
    flex-basis: 31.5%;
    max-height: 60px;
  }
}


.p-h-contacto{
  display: flex;
  background: white;
  padding: 20px;
  margin-top: 190px;

  @include media-breakpoint-down(md) {
    width: 100%;
    justify-content: space-between;
  }
}

.p-h-contacto--onin{

  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(xl) {
    text-align: right;
    margin-left: 100px ;
  }
}

.p-h-contacto--fer{
  display:flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;

  h3{

    @include media-breakpoint-down(md) {
      line-height: 1.3;
    }
  }

  @include media-breakpoint-up(xl) {
    text-align: left;
    margin-right: 160px;
  }

}
