<footer class="c-footer">

    <div class="container">
        <div class="c-footer__bottom">
            <ul class="c-footer__bottom-list">
                <li class="c-footer__bottom-list__item"><a href="https://www.biko2.com/aviso-legal">Aviso legal</a></li>
                <li class="c-footer__bottom-list__item"><a href="https://www.biko2.com/politica-de-cookies">Cookies</a></li>
                <li class="c-footer__bottom-list__item"><a href="https://www.biko2.com/proteccion-de-datos">Protección de datos</a></li>
            </ul>
        </div>
    </div>
</footer>
