<footer class="c-footer">
    <div class="container">
        <div class="c-footer__bottom">
            <ul class="c-footer__bottom-list">
                <li class="c-footer__bottom-list__item"><a href="#laboda">La boda</a></li>
                <li class="c-footer__bottom-list__item"><a href="#alojamiento">Alojamiento</a></li>
                <li class="c-footer__bottom-list__item"><a href="#fotos">Fotos</a></li>
                <li class="c-footer__bottom-list__item"><a href="#regalos">Regalos</a></li>
                <li class="c-footer__bottom-list__item"><a href="#contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
</footer>
