.c-cuadro{
  padding: 20px;
  background-color: white;

  @include media-breakpoint-up(md) {
    padding: 50px 100px 20px;
  }
}



.c-cuadro-destacado{
  margin-bottom: spacing(base);
  font-weight: bold;
}

