.c-ventana{
  overflow: hidden;
  img{
    width: 100%;
  }
}

.c-ventana--iglesia{
  max-width: 555px;
}


.c-ventana--iglesia--bottom{
  margin-top: -80px;
  max-width: 458px;
  float: right;
  margin-right: 30px;
  z-index: 2;
  position: relative;
}
