.c-footer{
  background-color: #091723;
  padding: 40px 0;
}

.c-footer__bottom{
  display: flex;
  align-items: center;
  justify-content: center;

}

.c-footer__bottom-list{
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.c-footer__bottom-list__item{
  padding: 5px;


  a{
    color: #bcd9f1;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: $font-family-base-especial;

  }
}
