.c-form{
  display: flex;
  flex-direction: column;
}

.c-form__group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }

  input, textarea{
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid $blue;
    padding-left:10px;
  }
}
