.c-header {
  padding-top: 26px;

  @include media-breakpoint-up(lg) {
    padding-top: 32px;
  }
}

.c-header__nav {
  padding: 0;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}


.c-header__nav .navbar-toggler{
  border: none;

  &:focus{
    outline: none;
  }
}





.c-header__nav__logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  svg {
    width: 120px;
    height: auto;

    @include media-breakpoint-only(sm) {
      width: 160px;
      height: auto;
    }
    @include media-breakpoint-only(md) {
      width: 180px;
      height: auto;
    }
    @include media-breakpoint-up(lg) {
      width: 200px;
      height: auto;
    }
  }
}


.c-header__navbar {
  li {
    position: relative;
    margin: 0 0 0 56px;


    a.nav-link {
      font-family: $font-family-base-especial;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $gray-dark !important;
      padding: 0 !important;
      transition: all .5s ease;

      &:hover {
        color: $blue !important;
      }
    }
  }
}

