.c-button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: white;
  padding: 15px 50px;
  background: $blue;
  border-radius: 5px;
  border:none;
  transition: all .3s ease;

  &:hover{
    background-color: darken($blue,40%);
    cursor: pointer;
  }
}
