.c-contador-container{


  @include media-breakpoint-down(md) {
    height: 190px;
  }
}


.c-contador{
  display: flex;

  @include media-breakpoint-down(md) {
    height: 100%;
    align-items: flex-end;
    justify-content: center;
  }
}

.c-contador__item{

  margin-right: 5px;
  padding: 5px;
  box-shadow: 5px 5px 25px -15px rgba(38, 102, 140, 0.55);
  border-radius: 10px;
  border: 1px solid rgba(188, 217, 241, 0.29);
  text-align: center;
  background-color: #ffffff;

  @include media-breakpoint-up(md) {
    padding: 25px;
  }

  p{
    margin-bottom: 0;
    font-family: $font-family-base;
    font-size: 15px;
    @include media-breakpoint-up(md) {
      font-size: 52px;
    }
  }

  p.c-contador-segundos{
    color: $blue;
  }
  span{
    color: #6b7176;
    font-family: $font-size-base;
    font-size: 10px;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }
}
