.c-bg-foto{
  height: 500px;
  background-color: rgba(216, 216, 216, 0.5);
}

.c-bg-foto--m0{
  margin-bottom: 0;
}


.c-bg-foto--boda{
  background: url("/assets/images/bahia-concha.jpg") no-repeat center center;
  background-size: cover;
}


.c-bg-foto--hotel{
  background: url("/assets/images/distrito-oeste.jpg") no-repeat top center;
  background-size: 150%;

  @include media-breakpoint-up(md) {
    background: url("/assets/images/distrito-oeste.jpg") no-repeat 0% 6%;
    background-size: cover;
  }
}

.c-bg-foto--fotos{
  background:url("/assets/images/bk-fotos.jpg") no-repeat top right;
  background-size: cover;
  padding: 30px 0 0;
  height: 720px;

  @include media-breakpoint-up(md) {
    background:url("/assets/images/bk-fotos.jpg") no-repeat top left;
    padding: 80px 0 0;

  }
}


.c-bg-foto--contacto{


  background: url(/assets/images/lapiz2.png) no-repeat 39% top;
  background-size: 180%;
  margin-top: -60px;
  @include media-breakpoint-up(md) {
    background:url("/assets/images/lapiz2.png") no-repeat top center;
    background-size: auto;
    margin-top: -100px;
  }


}
