.c-titulo{
  svg{
    width:987px;
    height:330px
  }
}


.c-titulo-destacado{
  margin-bottom: spacing(base);
  font-family: $font-family-special;
  font-weight: normal;
  font-size: 88px;
  line-height: 65px;
  color: $blue-dark;
}

.c-titulo-destacado--red-light{
  color: $red-light;
}
